<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/top.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customer.css') }}">
    <script src="https://unpkg.com/mojocss"></script>
    <title>
        {{ title or "Company" }}
    </title>
</head>
<body class="w-full h-100vh text-c-gray:-16">

    <nav>
        <div class="nav-left">
            <a href="{{ url_for('view_index')}}"><img src="{{ url_for('static', filename='img/Wolt-Logo.png')}}" alt=""></a>
        </div>

        <form method="GET" action="/search">
            <input type="text" name="query" placeholder="Search" id="search" required>
        </form>
        
        <div class="nav-right">
            <a href="{{url_for('view_login')}}" class="text-a-center">Login</a>
            <a href="{{url_for('view_signup')}}" class="text-a-center sign-up">Signup</a>
        </div>
    </nav>
    <div id="toast" class="d-flex flex-col j-content-center p-fixed w-full top-4 z-10"></div>

