{% include "_top.html" %}

<main class="w-full h-100vh d-flex p-items-center flex-col gap-4 mx-auto">
    <h1>Reset Your Password</h1>
    <form method="POST" id="frm_reset_password" class="w-25% d-flex flex-col gap-4 mx-auto">
        <div class="d-flex flex-col">
            <input
                name="new_password"
                type="password"
                placeholder="Enter new password"
                required>
        </div>
        <!-- confirm password tilføjet-->
        <div class="d-flex flex-col">
            <input
                name="confirm_password"
                type="password"
                placeholder="Repeat new password"
                required>
        </div>
        <button mix-post="/reset-password/{{ reset_key }}" mix-data="#frm_reset_password" class="btn">Save Password</button>
    </form>
</main>

{% include "_bottom.html" %}
